* {
   margin: 0; 
}



.S1 {
    background-color: #1F2937;
    height: 400px;
}

.S2 {
    height: 300px;
}

.S3 {
    background-color: #E5E7Eb;
    height: 250px;
}

.S4 {
    height: 288px;
}


.S5 {
   background-color: #1F2937; 
   height: 70px;

}

